body{
    background-color: #f4f4f9;
    /*overflow: hidden;*/
    min-height: 100vh;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.75);
    background-blend-mode: overlay;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.site-header {
    background-color: rgb(102, 143, 163);
    color: #FFFFFF; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.header-content {
    max-width: 1000px; 
    margin: 0 auto;
    display: flex; 
    align-items: center;
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.1);
    padding:10px;

}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;  
} 

.form-container {
    max-width: 600px; 
    min-width:400px;   
    text-align: center;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 25px;
    margin-top: 4.5cm;
    margin-bottom: 0;
    background-color: #fff;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    border-radius: 8px;    
    align-items: center;    
    justify-content: center;
}
.nom-utilisateur{
    margin-top:0.5cm;
    text-align:center;
    font-weight: bolder;
    font-size:x-large;
}.btn {
    display: block;
    width: 300px;
    justify-self: center;
    align-self: center;

    padding: 8px 0;
    text-align: center;
    background-color: rgb(102, 143, 163);
    color: white;
    border-radius: 5px;
    margin-top: 5%;
    text-decoration: none;
    font-weight:bold;
    font-size:large ;
    margin-left: 13%;
}
.btn1 {
    display: block;
    width: 300px;
    justify-self: center;
    align-self: center;
    border-width: 0px;
    margin-left:13%;

    cursor: pointer; 

    padding: 8px 0;
    text-align: center;
    background-color: rgb(102, 143, 163);
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    font-weight:bold;
    font-size:large ;
}








